.main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.main2 {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.title {
  font-size:xx-large;
  font-family: 'Segoe UI';
  font-weight: bold;
  color: rgb(52, 52, 52);
}

.textInputdiv {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.textInput {
  margin-top: 0px;
  padding: 2%;
  font-size: large;
  background-color: antiquewhite;
  border-radius: 5%;
  border-color: transparent;
  color: black;
}

.textInputlabel {
  margin-top: 10px;
  padding: 0%;
  font-size: large;
  color: rgb(52, 52, 52);

}

.button {
  display: flex;
  margin-top: 10px;
  font-size: large;
  padding: 3%;
}

.succeed {
  font-size:xx-large;
  font-family: 'Segoe UI';
  font-weight: bold;
  color: rgb(21, 145, 81);
}

.invalid {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: rgb(165, 42, 42);
  margin-top: 5px;
  font-size: large;
}

.imagesgroup {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-direction: column;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.beans {
  width: 30%;
  height: 90%;
  resize: both;
  background-color: transparent;
  border-color: transparent;
  align-self: flex-start ;
  
}

.cup {
  width: 40%;
  height: 90%;
  resize: both;
  background-color: transparent;
  border-color: transparent;
  align-self: flex-end ;
}

.coffee_text {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: rgb(166, 157, 26);
  margin-right: 35px;
  margin-left: 10px;
  margin-top: 50px;
  font-size: large;
}